@import url('../fonts/devices-v1.0/style.css');
@import url('../fonts/menu_icons-v1.0/style.css');
@import url('../fonts/statebar-v1.0/style.css');
/* -----------------VARIABLES-------------*/
$purple_gradient: linear-gradient(320deg, rgba(70, 0, 98, 1) 0%, rgba(183, 0, 255, 1) 70%, rgba(233, 176, 255, 1) 100%);
$purple_gradient_rev: linear-gradient(150deg, rgba(70, 0, 98, 1) 0%, rgba(183, 0, 255, 1) 70%, rgba(233, 176, 255, 1) 100%);
$purple: rgb(183, 0, 255);


/* -----------------STYLES-------------*/
body {
    font-family: 'DM Sans', sans-serif;
    background: linear-gradient(0deg, rgba(124, 116, 255, 1) 0%, rgba(249, 255, 102, 1) 100%) 0 0/100% 100% repeat-y;
    font-size: 16px;
}

/* -----------------WRAPPER-------------------  */
.wrapper {
    overflow: hidden;
    min-width: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* ---------------CONTAINER-------------------- */
[class*="__container"] {
    max-width: 720px;
    margin: 0 auto;
    padding: 10px 15px;
}
@media (max-width: 420px) {
    [class*="__container"] {
        max-width: 720px;
        margin: 0;
        padding: 10px 5px;
    }
}

// .header__container {}

// .main__container {}

// .footer__container {}

