// .dropdown {}

.dropdown__btn {
    transform: rotate(-90deg);
    font-size: 36px;
    background-color: transparent;
    letter-spacing: 1px;
    line-height: 1;
    display: inline-flex;
    width: 40px;
    height: 40px;
    padding: 0px 0px 40% 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    font-weight: 800;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.493);
    &:hover {
        color: black;
    }

}

.dropdown__menu {
    display: block;
    position: absolute;
    z-index: 3;
    background-color: transparent;
    right: 10px;
    top: 5px;
    width: 200px;
    transform: scale(0);
    transform-origin: top right;
    transition: transform .3s ease;
    &.show {
        transform: scale(1);
    }
}

.dropdown__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: aliceblue;
    border: 1px solid rgba(70, 0, 98, 1);
    border-radius: 25px 0px 25px 25px;
    padding: 10px;
}

.dropdown__item {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 5px 10px 25px;
    margin-bottom: 10px;
    color: rgba(70, 0, 98, 1);
    font-weight: 500;
    line-height: 18px;
    border-bottom: 2px solid transparent;
    & [class*="me_"]{
        position: absolute;
        left: 0;
        line-height: 18px;
        font-weight: 600;
    }
    & .me_off_on{
        color: rgb(255, 22, 22);
    }
    & .me_edit{
        color: rgb(80, 80, 80);
    }
    & .me_delete{
        color: rgb(255, 22, 22);
    }
    &::after {
        display: block;
        content: '';
        bottom: 0;
        left: 0px;
        position: absolute;
        width: 100%;
        border-bottom: 2px;
        transform: scaleX(0);
        transform-origin: 0% 0%;
        transition: transform .2s ease;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &:hover {
        cursor: pointer;
        &::after {
            transform: scaleX(1);
            border-bottom: 2px solid rgba(70, 0, 98, 1);
        }
    }
}